.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.celebrity {
  font-size: 2rem;
  letter-spacing: 5px;
  border: 7px solid white;
}
