body {
  margin: 0;
  font-family: "Bangers", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to right,
    rgba(104, 199, 255, 1) 0%,
    rgba(181, 126, 255, 1) 90%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
